.Boton {
    background-color: rgb(0, 136, 255);
    font-size: medium;
    padding: 4px 4px;
    border-radius: 3px;
    border: 1px solid;
    margin-top: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Boton:hover {
    border: 2px solid;
    border-color: black;
    border-radius: 3px;
}

.Boton2 {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4px 4px;
    border-radius: 3px;
    border: 1px solid;
}