.h1{
    background-color: aliceblue;
    display: flex;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    justify-content: space-around;
    align-items: center;
    height: 2em;
    width: 15em;
    margin: 10px auto;
}

.About{
    background-color: rgba(240, 248, 255, 0.713);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin: 2.5em auto;
}